@media screen and (max-width: 420px) {
    .esopos11 {
        overflow: hidden;
    }
    .hidden {
        overflow: hidden;
    }

   .esopos3 .img-responsive{
       position: relative;
       top: 50px;
   }

   .navbar {
    width: 88%;
    padding: 0px 20px 40px;
  }

  .Genius_{
      position: relative;
      left: 14px;
      padding-bottom: 40px;
  }

  .gg {
   margin-top: 30px;
  }

  ._esopos4,
  .esopos_4,
  .esopos__4 {
      position: relative;
      left: 50px;
  }

  ._esopos5 {
      position: relative;
      left: -20px;
  }

  ._esopos6 {
      margin-top: 90px;
      position: relative;
      left: -15px;
      padding-bottom: 50px;
  }

  ._esopos8 {
      position: relative;
      left: 10px;
      padding-bottom: 80px;
  }

  .esopos9 {
      position: relative;
      left: 15px;
  }

  ._esopos10 {
      position: relative;
      left: -140px;
      bottom: 20px;
  }

  ._esopos12{
      position: relative;
      top: -20px;
      padding-bottom: 40px;
  }
}

